/* FONTS */
/* Gilroy-light */
@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 300;
  src: local("Gilroy-Light"), local("Gilroy Light"),
        url("../fonts/gilroylight.woff2") format("woff2"), /* Super Modern Browsers */
        url("../fonts/gilroylight.woff") format("woff"); /* Modern Browsers */
  font-display: swap;
}
  
/* Gilroy-extraBold */
@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 800;
  src: local("Gilroy-ExtraBold"), local("Gilroy Extrabold"),
        url("../fonts/gilroyextrabold.woff2") format("woff2"), /* Super Modern Browsers */
        url("../fonts/gilroyextrabold.woff") format("woff"); /* Modern Browsers */
  font-display: swap;
}

/* Open Sans-light */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  src: local("OpenSans-Light"), local("Open Sans Light"),
        url("../fonts/opensanslight.woff2") format("woff2"), /* Super Modern Browsers */
        url("../fonts/opensanslight.woff") format("woff"); /* Modern Browsers */
  font-display: swap;
}
  
/* Open Sans-regular */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: local("OpenSans"), local("Open Sans Regular"),
        url("../fonts/opensans.woff2") format("woff2"), /* Super Modern Browsers */
        url("../fonts/opensans.woff") format("woff"); /* Modern Browsers */
  font-display: swap;
}
  
/* VARIABLES */
:root {
  /* colors */
  --basic-black: #000000;
  --basic-dark: #363636;
  --basic-grey: #464646;
  --basic-half-grey: #7e7e7e;
  --basic-grey-light: #e5e5e5;
  --basic-white: #ffffff;

  --white-active: rgba(255, 255, 255, 0.3);
  --black-active: rgba(0, 0, 0, 0.3);

  --special-yellow-dark: #f0c52e;
  --special-yellow: #f7e296;
  --special-green: #91c92f;

  --color-nav-plus: #AD9F69;
}

/* ALL PAGE */
.page__body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 20px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.page__body a {
  text-decoration: none;
}

.page__body img {
  max-width: 100%;
  height: auto;
}

/* GENERAL STYLE */
.hidden {
  position: absolute;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px; 
  width: 1px; 
  overflow: hidden;
} 

.center {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.reset__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.title {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 22px;
  color: var(--basic-black);
}

.title__big {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 47px;
  font-weight: 800;
  line-height: 58px;
  letter-spacing: 0.2em;
}

.focus:focus:not(:active) {
  outline-offset: 7px;
  outline: 5px var(--basic-half-grey);
  outline-style: inset;
}

/* HEADER */
.header__wrapper {
  min-height: 210px;
  padding: 20px 60px 30px;
  word-wrap: break-word;
  background-image: 
    linear-gradient(var(--basic-white) 40px, 
                    var(--special-yellow) 40px);
}

.nav {
  display: flex;
  flex-wrap: wrap;
}

/* nav__logo */
.nav__logo {
  margin-right: auto;
  margin-bottom: 10px;
}

.nav__logo[href]:hover img {
  opacity: 0.6;
}

.nav__logo[href]:focus:not(:active) {
  outline-offset: 7px;
  outline: 5px var(--basic-half-grey);
  outline-style: inset;
}

.nav__logo[href]:active img {
  opacity: 0.3;
}

/* shared grid  */
.nav__wrapper,
.nav__list__navigation {
  display: flex;
  flex-wrap: wrap;
  width: 1040px;
}

/* first row of the grid */
.nav__wrapper {
  justify-content: space-between;
  min-height: 50px;
  margin-bottom: 35px;
}

.nav__wrapper > * {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.nav__wrapper > *:nth-child(3n+1) {
  width: 440px;
  margin-right: 99px;
}

.nav__wrapper > *:nth-child(3n+2) {
  width: 245px;
  margin-right: auto;
}

.nav__wrapper > *:nth-child(3n+3) {
  width: 218px;
}

.search {
  position: relative;
  min-height: 50px;
}

.search__input {
  width: 352px;
  height: 50px;
  padding: 0 37px;
  font-weight: inherit;
  border: none;
  border-bottom: 2px solid transparent;
  background-color: transparent;
}

.search__button {
  display: none;
  width: 88px;
  margin: 0;
  padding: 13px 17px;
  font: inherit;
  text-transform: uppercase;
  background-color: transparent;
  border: 2px solid var(--basic-black);
}

.cabinet {
  display: flex;
  flex-wrap: wrap;
}

.cabinet *:not(:nth-child(even)) {
  margin-right: 20px;
}

.cabinet__link {
  display: inline-block;
  position: relative;
  width: 100px;
  padding-left: 25px;
  color: var(--basic-black);
  vertical-align: middle;
}

.cart__button {
  position: relative;
  width: 100px;
  margin-right: 20px;
  padding: 0 0 0 20px;
  font: inherit;
  background-color: transparent;
  border: none;
}

.cart__link {
  position: relative;
  width: 83px;
  padding-left: 20px;
  color: var(--basic-black);
  text-align: right;
}

/* псевдоэлементы иконок верхнего меню */
.search::before,
.cabinet__link::before,
.cart__button::before,
.cart__link::before {
  content: "";
  position: absolute;
  top: 0; bottom: 0; left: 1px;
  margin: auto;
  background-repeat: no-repeat;
}

.search::before {
  width: 13px;
  height: 13px;
  background-image: url(../img/symbol_search.svg);
}

.cabinet__link::before {
  width: 13px;
  height: 14px;
  background-image: url(../img/icon_user.svg);
}

.cart__button::before,
.cart__link::before {
  width: 10px;
  height: 10px;
}

.cart__button::before {
  background-image: url(../img/icon_compare.svg);
}

.cart__link::before {
  bottom: 2px;
  background-image: url(../img/icon_cart.svg);
}

/* поведение интеракт. эл. верхнего меню */
.search__input::placeholder {
  color: var(--basic-black);
  opacity: 0.3;
}

.search__input:focus {
  outline: none;
  border-bottom-color: var(--basic-black);
}

.search__input:hover::placeholder {
  opacity: 0.6;
}

.search__input:focus::placeholder {
  opacity: 1;
}

.search__input:focus + .search__button {
  display: block;
}

.search__button:hover {
  display: block;
  color: var(--basic-white);
  background-color: var(--basic-black);
}

.search__button:focus,
.search__button:active {
  display: block;
  color: var(--white-active);
}

.cabinet__link:hover,
.cart__button:hover,
.cart__link:hover {
  opacity: 0.6;
}

.cabinet__link:active,
.cart__button:active,
.cart__link:active {
  opacity: 0.3;
}

/* second row of the grid */
.nav__item {
  margin-bottom: 20px;
}

.nav__item:not(:first-child) {
  width: 140px;
}

.nav__item:nth-child(4n+1) {
  width: 251px;
  margin-right: 289px;
}

.nav__item:nth-child(4n+2) {
  margin-right: 19px;
}

.nav__item:nth-child(4n+3) {
  margin-right: auto;
}

.nav__item:nth-child(4n+4) {
  margin-right: -4px;
  text-align: right;
}

.nav__item:not(:first-child),
.nav__item__super > .nav__link__super {
  letter-spacing: 3.6px;
  text-transform: uppercase;
}

.nav__item__super {
  position: relative;
  padding-right: 16px;
}

.nav__item__super::before,
.nav__item__super::after {
  content: "";
  position: absolute;
  top: 0; right: 0; bottom: 0;
  width: 15px;
  height: 2px;
  margin: auto;
  background-color: var(--color-nav-plus);
}

.nav__item__super::after {
  transform: rotate(90deg);
}

.nav__wrapper__super {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  z-index: 2;
  bottom: 0;
  left: -60px;
  width: 1160px;
  padding: 30px 60px 41px;
  background-image: 
    linear-gradient(transparent 15px, 
                    var(--special-yellow) 15px);
  transform: translateY(100%);
}

.nav__item__super:not(:hover)
.nav__link__super:not(:focus) + 
.nav__wrapper__super:not(:focus-within) {
  opacity: 0;
  pointer-events: none;
}

.nav__sub__list:not(:last-child) {
  margin-right: 60px;
}

.nav__sub__list:first-child {
  width: 180px;
}

.nav__sub__list:not(:first-child) {
  width: 125px;
}

.nav__sub__list li:not(:last-child) {
  margin-bottom: 17px;
}

.nav__list__navigation a {
  color: var(--basic-black);
}

.nav__list__navigation a:hover {
  opacity: 0.6;
}

.nav__list__navigation a:active {
  opacity: 0.3;
}

/* MAIN */

/* FOOTER */

/* INDEX PAGE */
/* slider */ 
.slider {
  position: relative;
}

.slider__list {
  background-image: 
    linear-gradient(var(--special-yellow) 114px,
                    var(--basic-white) 114px);
}

.slider__item {
  display: none;
  position: relative;
  min-height: 570px;
  padding: 79px 65px 0 600px;
}

.slider__item__show {
  display: block;
}

.slider__item::before,
.slider__item::after {
  content: "";
  position: absolute;
}

.slider__item::before {
  top: 19px;
  right: 460px;
  width: 100px;
  height: 7px;
  background-color: var(--basic-white);
}

.slider__item::after {
  top: 10px;
  right: 60px;
}

.slide__1::after {
  width: 164px;
  height: 131px;
  background-image: url(../img/01.svg);
}

.slide__2::after {
  width: 194px;
  height: 131px;
  background-image: url(../img/02.svg);
}

.slide__3::after {
  width: 196px;
  height: 131px;
  background-image: url(../img/03.svg);
}

.slider__img {
  position: absolute;
}

.img__1 {
  top: -15px;
  left: 89px;
}

.img__2 {
  top: 10px;
  left: 116px;
}

.img__3 {
  top: 66px;
  left: 29px;
}

.slider__slogan {
  position: relative;
  z-index: 1;
  width: 495px;
  margin: 0 0 28px 0;
  letter-spacing: 0;
}

.slogan__3 {
  margin-top: 3px;
  margin-bottom: 24px;
}

.slider__info {
  width: 478px;
  margin:0 0 50px 0;
}

.slider__link {
  display: block;
  width: 220px;
  min-height: 40px;
  margin-bottom: 52px;
  padding: 9px 9px 9px 14px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  background-image: 
    linear-gradient(transparent 40%,
                    var(--special-yellow-dark) 40%,
                    var(--special-yellow-dark) 60%,
                    transparent 60%);
}

.slider__link:hover {
  background-image: 
    linear-gradient(var(--special-yellow-dark) 50%,
                    var(--special-yellow-dark) 50%);
}

.slider__link:active {
  color: var(--black-active);
}

.slider__specifications {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 30px 57px;
  width: 450px;
  margin: 0;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 300;
  letter-spacing: 3.6px;
}

.specifications__3 {
  column-gap: 12px;
}

.slider__wrapper {
  display: grid;
  grid-template-rows: 42px 30px;
  align-items: end;
}

.slider__term {
  font-size: 36px;
  line-height: 43px;
}

.slider__definition {
  margin: 0;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 0.1em;
}

.slider__buttons {
  position: absolute;
  top: 316px;
  right: 101px;
  background-color: rgba(255, 255, 255, 0.3);
}

.slider__button {
  position: relative;
  width: 26px;
  height: 30px;
  padding: 0;
  background-color: inherit;
  border: none;
  border-radius: 50%;
}

.slider__button::before,
.slider__button:active::after,
.button__selected::after {
  content: "";
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  margin: auto;
  border: 1px solid var(--basic-black);
  border-radius: 50%;
}

.slider__button::before {
  width: 12px;
  height: 12px;
}

.slider__button:active::after,
.button__selected::after {
  width: 6px;
  height: 6px;
}

.slider__button:focus:not(:active) {
  outline: none;
  box-shadow: 0 0 5px 1px var(--basic-black);
}

.slider__button:active {
  outline: none;
}

/* popular */
.popular__list {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 0 85px;
  word-wrap: break-word;
}

.popular__item {
  position: relative;
  width: 160px;
  padding-top: 198px;
  letter-spacing: 1px;
}

.popular__item:nth-child(4) {
  letter-spacing: 0;
}

.popular__item:not(:last-child) {
  margin-right: 40px;
}

.popular__link::before,
.popular__link::after {
  content: "";
  position: absolute;
  top: 0; right: 0;
  width: 160px;
  height: 160px;
}

.popular__link::before {
  background-color: var(--special-yellow);
}

.popular__link::after {
  background-repeat: no-repeat;
  background-position: center;
}

.link__1::after {
  background-image: url(../img/popular_section_1.svg);
}

.link__2::after {
  background-position: 37px 26px;
  background-image: url(../img/popular_section_2.svg);
}

.link__3::after {
  background-image: url(../img/popular_section_3.svg);
}

.link__4::after {
  background-image: url(../img/popular_section_4.svg);
}

.link__5::after {
  background-image: url(../img/popular_section_5.svg);
}

.link__6::after {
  background-image: url(../img/popular_section_6.svg);
}

.popular__link:hover {
  --special-yellow: var(--special-yellow-dark);
}

.popular__link:active {
  color: var(--black-active);
}

.popular__link:active::after {
  opacity: 0.3;
}

/* services */
.services {
  min-height: 388px;
  background-image: 
    linear-gradient(var(--basic-white) 100px,
                    var(--basic-grey-light) 100px);
}

.services__wrapper {
  display: flex;
  flex-wrap: wrap;
}

.services__list {
  order: 2;
  width: 874px;
}

.services__buttons {
  order: 1;
  width: 284px;
  min-height: 320px;
  padding: 80px 0 20px;
  border-right: 7px solid var(--basic-black);
}

.services__button {
  position: relative;
  width: 160px;
  min-height: 40px;
  margin-bottom: 21px;
  padding: 9px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  background-color: transparent;
  background-image: 
    linear-gradient(transparent 40%,
                    var(--special-yellow-dark) 40%,
                    var(--special-yellow-dark) 60%,
                    transparent 60%);
  border: none;
}

.services__button::before {
  content: "";
  position: absolute;
  top: 0; left: 150px;
  width: 130px;
  height: 100%;
  background-color: transparent;
}

.services__button:hover:not(.services__button__checked):not(:focus) {
  background-image: 
    linear-gradient(var(--special-yellow-dark) 50%,
                    var(--special-yellow-dark) 50%);
}

.services__button:focus:not(:active):not(.services__button__checked) {
  outline: none;
  color: var(--special-yellow);
  background-image: 
    linear-gradient(to right, 
                    var(--basic-grey), 
                    var(--basic-grey-light));
}

.services__button:focus::before {
  width: 134px;
}

.services__button__checked,
.services__button:active {
  outline: none;
  color: var(--special-yellow);
  background-image: 
    linear-gradient(var(--basic-black) 50%,
                    var(--basic-black) 50%);
}

.services__button__checked::before,
.services__button:active::before {
  background-color: var(--basic-black);
}

.services__item {
  display: none;
  position: relative;
  width: 876px;
  padding: 70px 165px 20px 116px;
}

.services__item::after {
  content: "";
  position: absolute;
  top: 55px; right: -15px;
  width: 171px;
  height: 195px;
  background-repeat: no-repeat;
  background-position: center;
}

.item__1::after {
  background-image: url(../img/icon_service_delivery.svg);
}

.item__2::after {
  background-image: url(../img/icon_service_warranty.svg);
}

.item__3::after {
  top: 45px; right: 0;
  background-image: url(../img/icon_service_credit.svg);
}

.tab__show {
  display: block;
}

.services__item h3 {
  width: 275px;
  margin: 0 0 42px 0;
}

.services__item p {
  width: 575px;
  margin: 0;
  line-height: 30px;
  letter-spacing: 0.1em;
}

/* logotypes */
.logotypes {
  padding-top: 90px;
  padding-bottom: 85px;
}

.logotypes__list {
  display: flex;
  flex-wrap: wrap;
}

.logotypes__item:not(:nth-child(4n+4)) {
  margin-right: 40px;
}

.logotypes__img,
.logotypes__link:active {
  filter: grayscale(1);
}

.logotypes__link:focus {
  outline: none;
}

.logotypes__link:hover .logotypes__img,
.logotypes__link:focus .logotypes__img {
  filter: grayscale(0);
}

/* main__wrapper */
.main__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.main__wrapper > *:nth-child(2n+1) {
  width: 473px;
}

.main__wrapper > *:nth-child(2n+2) {
  width: 560px;
}

.main__wrapper h2 {
  margin: 0 0 41px 0;
}

.about,
.contacts {
  position: relative;
  padding: 57px 0 20px;
}

.about::before,
.contacts::before {
  content: "";
  position: absolute;
  top: 0; left: 0;
  width: 80px;
  height: 7px;
  background-color: var(--basic-black);
}

.about p:not(:last-of-type),
.contacts p:not(:last-of-type) {
  margin: 0 0 40px 0;
  line-height: 28px;
}

.contacts p:not(:last-of-type) {
  width: 510px;
}

.about p:last-of-type {
  margin: 0 0 61px 0;
  line-height: 28px;
}

.contacts p:last-of-type {
  margin: 0;
}

.about p {
  width: 473px;
}

.about__list {
  margin-bottom: 69px;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 28px;
}

.about__item {
  position: relative;
  padding-left: 32px;
}

.about__item:not(:last-child) {
  margin-bottom: 15px;
}

.about__item::before {
  content: "";
  position: absolute;
  top: 0; bottom: 0; left: 0;
  width: 8px;
  height: 8px;
  margin: auto;
  border-radius: 50%;
  border: 2px solid var(--basic-grey-light);
}

.contacts__link {
  display: block;
  width: 560px;
  height: 222px;
  margin-bottom: 77px;
  background-color: var(--basic-grey-light);
}

.main__wrapper__link {
  display: block;
  width: 260px;
  min-height: 40px;
  padding: 9px 9px 9px 14px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  background-image: 
    linear-gradient(transparent 40%,
                    var(--special-yellow-dark) 40%,
                    var(--special-yellow-dark) 60%,
                    transparent 60%);
}

.main__wrapper__link:hover {
  background-image: 
    linear-gradient(var(--special-yellow-dark) 50%,
                    var(--special-yellow-dark) 50%);
}

.main__wrapper__link:active {
  color: var(--black-active);
}